*{
    padding: 0;
    margin: 0;
}
header{
    &.navbar{
        top: 0;
        right: 0;
        left: 0;
        position: fixed;
        margin: auto;
        padding-top: 14px;
        padding-left: 40px;
        padding-right: 40px;
        z-index: 500;
        transition: top 0.2s ease-in-out;
    }
    
    &.nav-up{
        top: -100px!important;
    }

}


body{
    background-color: #f6f6f8;
}
.main-container{
    width: 100%;
    margin-top: 50px;
}
.menu{
    margin: 20px 0px 20px 0px;
    .first{
        a{
            padding: 6px 10px 10px 10px;
            width: 38px;
            height: 38px;
            display: block;
            text-align: center;
            border: 2px solid #c7c7cd;
            border-radius: 100px;
            font-size: 18px;
            float: left;
            margin-left: 14px;
            /* font-weight: bold; */
            color: #777;
        }
    }
    display: flex;
    width: 100%;
    .last{
        flex: 1;
       
    
        a{
            float: right;
            background-image: url(../images/tegsuser.svg);
            height: 40px;
            width: 83px;
            background-size: 88%;
            background-repeat: no-repeat;
            padding: 5px 12px 5px 0px;
            display: block;
            text-align: center;
            font-size: 19px;
        }
    }

    .closebutton{
        position: absolute;
        top: 27px;
        padding: 22px;
        font-size: 38px;
        right: 32px;
        background: none;
        color: #f1f1f1;
        border: none;
        display:none;
    }
   
    
}


.navbar-default{
    background-color: white;
}

.navbar-btn{
    margin:20px 0px 20px 0px;
}

.region-navigation-collapsible{
    display: flex;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-webkit-flex-flow: row wrap;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
align-items: center;

}

.logo{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%;
}

nav{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    min-width: 0;
}

.search-icon{
            background-image: url(../images/search-icon.svg);
            height: 40px;
            width: 83px;
            background-size: 45%;
            background-repeat: no-repeat;
            padding: 10px 15px 10px 10px;
            display: block;
          
}
.toggle-region{
    padding: 0;
    background-color: #f6f6f8;


    .search-box{
        display: none;
        background-color: #f6f6f8;
        form{
            margin: 56px 0 50px 0;
            .form-group{
                margin-bottom: 0;
    
                .input-group{
                    .form-control {
                        position: relative;
                        z-index: 2;
                        float: left;
                         width: 100%;
                        margin-bottom: 0;
                        background-color: #f6f6f8;
                        border: none;
                        text-align: center;
                        font-size: 22px;
                        font-weight: normal;
           }
           }
        }
    }
}
}

.navbar{
    margin-bottom: 0;
}


.sass-css{
    background-color: #fb6754;
    padding: 45px 0 80px;
    p{
        color: white;
    }
    .description{
        .term_name{
            .field--item{
                a{
                    display: inline-block;
                    background: rgba(255,255,255,0.15);
                    border-radius: 100px;
                    padding: 8px 14px;
                    margin: 0 10px 10px 0;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 12px;
                    color: white;
                    letter-spacing: 1px;
                }
            }
        }


        .article_title{
            a{
                span{
                    font-family: 'Graphik Web';
                    font-size: 64px;
                    line-height: 70px;
                    font-weight: bold;
                    color: white;
                    letter-spacing: 0;
                    padding: 50px 0 26px;
                    margin: 0;
                }
                &:hover{
                    text-decoration: none;
                }
            }                
            .title_description{
                font-family: 'Graphik Web';
                font-size: 26px;
                line-height: 1.38;
                color: rgba(255,255,255,0.7);
            }
        }
    } 
}


.article_description{
    margin: 0 auto;
    max-width: 1260px;
    .author_info{
        padding: 74px 0;
            .created{
                font-size: 14px;
                color: #8f8e94;
                padding-bottom: 18px;
                }
            }

    .article_body{
        font-size: 19px;
        line-height: 32px;
        margin: 38px 0;

    }
}






.javascript{
    background-color: #68268c;
    padding: 45px 0 80px;
    p{
        color: white;
    }
    .description{
        .term_name{
            .field--item{
                a{
                    display: inline-block;
                    background-color: #ec605a;
                    border-radius: 100px;
                    padding: 8px 14px;
                    margin: 0 10px 10px 0;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 12px;
                    color: white;
                    letter-spacing: 1px;
                }
            }
        }


        .article_title{
            a{
                span{
                    font-family: 'Graphik Web';
                    font-size: 64px;
                    line-height: 70px;
                    font-weight: bold;
                    color: white;
                    letter-spacing: 0;
                    padding: 50px 0 26px;
                    margin: 0;
                }
                &:hover{
                    text-decoration: none;
                }
            }                
            .title_description{
                font-family: 'Graphik Web';
                font-size: 26px;
                line-height: 1.38;
                color: rgba(255,255,255,0.7);
            }
        }
    } 
}


.drupal{
    background: #0678be;
    padding: 45px 0 80px;
    p{
        color: white;
    }
    .description{
        .term_name{
            .field--item{
                a{
                    display: inline-block;
                    background-color: white;
                    border-radius: 100px;
                    padding: 8px 14px;
                    margin: 0 10px 10px 0;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 12px;
                    color: white;
                    letter-spacing: 1px;
                    color: #0678be;
                }
            }
        }


        .article_title{
            a{
                span{
                    font-family: 'Graphik Web';
                    font-size: 64px;
                    line-height: 70px;
                    font-weight: bold;
                    color: white;
                    letter-spacing: 0;
                    padding: 50px 0 26px;
                    margin: 0;
                }
                &:hover{
                    text-decoration: none;
                }
            }                
            .title_description{
                font-family: 'Graphik Web';
                font-size: 26px;
                line-height: 1.38;
                color: rgba(255,255,255,0.7);
            }
        }
    } 
}

.git{
    background: white;
    padding: 45px 0 80px;   
    .description{
        .term_name{
            .field--item{
                a{
                    display: inline-block;
                    background-color: black;
                    border-radius: 100px;
                    padding: 8px 14px;
                    margin: 0 10px 10px 0;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 12px;
                    color: black;
                    letter-spacing: 1px;
                    color: white;
                }
            }
        }


        .article_title{
            a{
                span{
                    font-family: 'Graphik Web';
                    font-size: 64px;
                    line-height: 70px;
                    font-weight: bold;
                    color: black;
                    letter-spacing: 0;
                    padding: 50px 0 26px;
                    margin: 0;
                }
                &:hover{
                    text-decoration: none;
                }
            }                
            .title_description{
                font-family: 'Graphik Web';
                font-size: 26px;
                line-height: 1.38;
                color: black;
            }
        }
    } 
}

.flex-container{

    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;

    .card{
        width: 33.33%;
        padding-left: 15px;
        padding-right: 15px;
        margin: 15px 0;

    .flex-item{
            height: 100%;
            padding: 22px;
            margin: 15px 0;
            .card_tag{
                display: block;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 9px;
                min-height: 18px;
            }

            p{
                display: block;
                font-size: 24px;
                font-weight: bold;
               
                letter-spacing: 0;
                line-height: 35px;
            }

            img{
                display: block;
                max-width: 100%;
                height: auto;
                margin: 0 auto;
                height: 220px;
                width: 220px;
            }
         }
     }
}


@media (max-width: 768px){
    header{
        &.navbar{
            padding-left: 0px;
            padding-right: 0px;
        }
       
        .navbar-header{
            a{
                margin-right: -15px;
                padding-left: 15px;
                padding-right: 15px;
                img{
                    width: 174px;
                    position: absolute;
                    top: 14px;
                    left: 16px;
                }
            }
            button{
                position: absolute;
                top: 0;
                right: 0;
                &.navbar-toggle{
                    border-color: white;
                }
                
            }
        }
        .navbar-collapse{
            height: 110vh;
            background-color: #050ba6;
            transition: 0s;
            nav{
                .menu{
                    flex-direction: column;
                    .closebutton{
                        position: absolute;
                        top: 27px;
                        padding: 22px;
                        font-size: 38px;
                        right: 32px;
                        background: none;
                        color: #f1f1f1;
                        border: none;
                        display: block;
                        top: 0;
                        right: 0;
                        
                    }
                    .search-icon{
                        background-repeat: no-repeat;
                        height: 238px;
                        width: 202px;
                        position: relative;
                        margin: 0 100px 65px;
                        font-size: 28px;
                        text-align: center;
                        color: white;
                        background-size: 101%;
                        
                    }
                    .first{
                        display: none;
                    }
                    .last{
                        a{
                            background-repeat: no-repeat;
                            height: 121px;
                            width: 229px;
                            position: relative;
                            /* margin: 0 auto 34px; */
                            padding: 30px 30px 30px 0px;
                            font-size: 28px;
                            text-align: center;
                            color: white;
                            margin: 0px 51px 65px;
                            }
                        }
                    
                }

            }
        } 
    }
}


@media (max-width: 768px){
    .main-container{
        width: 100%;
        margin-top: 0px;
            section{
                position: relative;
                min-height: 0;
                padding-right: 0;
                padding-left: 0;
            
            .flex-container{
                display: block;
                margin-left: 0px;
                margin-right: 0px;
                width: 100%;
                .card{
                    width: 100%;
                    padding-left: 0;
                    padding-right: 0;
                    margin: 0;
                    .flex-item{
                        height: 100%;
                        padding: 22px;
                        margin: 0px;
                    }
                }
            }
        }
    }

}
